/* Media Queries */
/* Media query para 880px (sem alterações no header) */
@media screen and (max-width: 880px) {
    .logo {
        width: 18%;
        transition: width 0.3s ease-in-out;
    }
    .footer {
        margin-left: 20%;
        margin-right: 20%;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .footer-content {
        font-size: 20px;
    }
}

/* Media query para 480px */
@media screen and (max-width: 480px) {
    .header {
        top: 3%;
        left: 4%;
        right: 4%;
        width: calc(92% - 20px); /* Ajusta a largura para o novo left/right */
        padding-left: 10px;
        padding-right: 10px;
    }
    .logo {
        width: 0%;
    }
    .shape {
        margin-left: 3%;
        margin-right: 3%;
    }
    .window, .window2 {
        margin-left: 1%;
        margin-right: 1%;
        width: 320px;
    }
    .footer {
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* Media query para 398px */
@media screen and (max-width: 398px) {
    .water-button {
        padding: 12px 18px;
    }
    .header {
        top: 4%;
        left: 6.5%; /* Ajustado para refletir width: 87% */
        right: 6.5%;
        width: calc(87% - 20px); /* Largura fixa consistente */
        margin: 0 auto;
    }
    .button-container {
        text-align: center;
    }
    .window, .window2 {
        width: 320px;
    }
}