/* Media Queries */
@media screen and (max-width: 880px) {
    .logo {
        width: 18%;
        transition: width 0.3s ease-in-out;
    }
    .footer {
        margin-left: 20%;
        margin-right: 20%;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .footer-content {
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .header {
        margin-top: 3%;
        left: 4%;
        right: 4%;
        max-width: 92%; /* Ajustando para garantir que o header se ajuste corretamente */
        width: 92%; /* Garantir que o header ocupe 92% da tela sem distorcer */
    }
    .logo {
        width: 30%;
    }
    .shape {
        margin-left: 3%;
        margin-right: 3%;
    }
    .window, .window2 {
        margin-left: 1%;
        margin-right: 1%;
        width: 320px;
    }
    .footer {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 398px) {
    .water-button {
        padding: 12px 18px;
    }
    .header {
        width: 87%;
        margin: 0 auto;
        margin-top: 4%;
    }
    .button-container {
        text-align: center;
    }
    .logo {
        width: 30%;
    }
    .window, .window2 {
        width: 320px;
    }
}
