.header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
    margin-right: 9%;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
  
.logo-container {
    display: flex;
    align-items: center;
    gap: 3px;
}
  
.logo {
    width: 8%;
    opacity: 0.7;
}
  
.title-container {
    display: flex;
    flex-direction: column;
}
  
.title-Page {
    margin: 0;
}
  
.button-container {
    display: flex;
    gap: 8px;
    margin-left: 10px;
}
  
.button {
    padding: 8px 12px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.imc-button {
    background-color: #4CAF50;
}
  
.water-button {
    background-color: #2196F3;
}

.footer {
    padding: 5px;
    text-align: center;
    border-top: 1px solid #050505; 
    margin-left: 35%; margin-right: 35%;
}
  
.footer-content {
    padding-top: 3px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 2px; 
}
  
.footer-year {
    margin-right: 10px; 
    align-items: center;
    text-align: center;
    font-family: "Ubuntu";
}
  
.footer-names {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    text-align: justify;
    font-family: "Ubuntu";
}