/* Header */
.logo-container {
    display: flex;
    align-items: center;
    gap: 3px;
}

.logo {
    width: 8%;
    opacity: 0.7;
}

.title-container {
    display: flex;
    flex-direction: column;
}

.title-Page {
    margin: 0;
}

.button-container {
    display: flex;
    gap: 8px;
}

.button {
    padding: 8px 12px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.button.clicked {
    background-color: transparent;
}

.imc-button {
    background-color: #4CAF50;
}

.water-button {
    background-color: #2196F3;
    transition: background-color 0.3s ease;
}
.header {
    position: fixed;
    top: 1.8%;
    left: 8%;
    right: 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    height: 80px; /* Altura fixa para evitar distorções */
    box-sizing: border-box;
    transition: none; /* Para suavizar a transição da largura */
}

/* Shape (Conteúdo central) */
.shape {
    flex: 1; /* Faz o shape ocupar o espaço disponível entre header e footer */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px; /* Ajusta a altura considerando header e footer */
    margin-top: 80px;
}

.title-shape1,
.title-shape2 { 
    font-size: 24px;
    margin-top: 8%;
}

.window,
.window2 {
    width: 340px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 25px;
    text-align: center;
}

.window2 {
    display: none;
}

.hidden {
    opacity: 0 !important;
    pointer-events: none;
}

.title-shape1 {
    color: #4CAF50;
}
.title-shape2 {
    color: #2196F3;
}

.text-field {
    width: 80%; 
    padding: 10px;
    margin: 10px 0; 
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.658);
}

.imc-text-field1:focus,
.imc-text-field2:focus {
    border-color: #4CAF50; /* Cor de destaque ao focar */
}

.water-text-field1:focus,
.water-text-field2:focus {
    border-color: #2196F3;
}

.my-imc-button {
    margin-top: 3%;
    background-color: #4CAF50;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.my-water-button {
    margin-top: 3%;
    background-color: #2196F3;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

/* Footer */
.footer {
    padding: 5px;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    color: black;
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 25px;
}

.footer-content {
    padding-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.footer-year {
    margin-right: 10px;
    font-family: "Ubuntu";
}

.footer-names {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    font-family: "Ubuntu";
}
